.App {
  text-align: center;
  max-height: 100hv
}

.header {
  background-color: #222;
  color: white;
  position: relative;
  display: flex;
}

.main-map {
  height: 100vh;
  display: flex;
  flex-direction: row;
}

.sidebar {
  z-index: 1;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 30%;
  min-width: 270px;
  background-color: #353535;
  border-right: 1px solid #101010;
  overflow-y: scroll;
  transition: all 500ms ease-in-out;
  height: 100%;
}

.map-container {
  width: 100%;
  position: relative;
}

.sushi-list {
  list-style-type: none;
  text-align: left;
  padding-left: 0;
}

.sushi-list li {
  margin: 0.5em;
}


.filter-container {
  padding: 1em 1.5em 1em 1em;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
